// IMPORTS - COMPONENTS

// component extends
%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

@import "site-header";
@import "site-nav";
@import "site-footer";
@import "logo";
@import "copyright";
@import "main";
@import "buttons";
@import "icons";
@import "tagline";
@import "panel";
@import "posts";
@import "posts-count";
@import "posts-list";
@import "post";
@import "date";
@import "around";
@import "post-detail";
@import "syntax-highlight";




