<nav class="c-site-header__nav" itemscope itemtype="http://schema.org/SiteNavigationElement">

    <h1 class="is-vh">Site navigation</h1>

    <ul class="c-site-nav">

        

            <li class="c-site-nav__item">
                <a href="http://www.linkedin.com/pub/lee-marsden/1b/278/980" class="c-site-nav__link c-site-nav__link--linkedin2" title="Connect with me on LinkedIn">
                    <span class="is-vh">LinkedIn</span>
                    <svg class="c-site-nav__icon icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg>
                </a>
            </li>

        

            <li class="c-site-nav__item">
                <a href="https://twitter.com/#!/phzthree" class="c-site-nav__link c-site-nav__link--twitter" title="Follow me on Twitter">
                    <span class="is-vh">Twitter</span>
                    <svg class="c-site-nav__icon icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                </a>
            </li>

        
                
    </ul>

    </nav>