<ul class="c-posts__count c-posts-count">
    
    <li class="c-posts-count__item c-posts-count__item--html">
        <span class="is-vh">There are</span>
        <span>{{ site.categories.html | size }}</span>
        <span class="c-posts-count__tech">html</span>
        <span class="is-vh">posts</span>
    </li>
    <li class="c-posts-count__item c-posts-count__item--css">
        <span class="is-vh">There are</span>
        <span>{{ site.categories.css | size }}</span>
        <span class="c-posts-count__tech">css</span>
        <span class="is-vh">posts</span>
    </li>
    <li class="c-posts-count__item c-posts-count__item--js">
        <span class="is-vh">There are</span>
        <span>{{ site.categories.js | size }}</span>
        <span class="c-posts-count__tech">js</span>
        <span class="is-vh">posts</span>
    </li>
    <li class="c-posts-count__item c-posts-count__item--misc">
        <span class="is-vh">There are</span>
        <span>{{ site.categories.misc | size }}</span>
        <span class="c-posts-count__tech">misc</span>
        <span class="is-vh">posts</span>
    </li>

</ul>