<aside class="c-around">
    
    <h1 class="c-around__title">Around the Web</h1>

    <ul class="c-around-links">
        
        <li>
            <a href="http://www.sitepoint.com" title="Sitepoint">Sitepoint</a>
        </li>

        <li>
            <a href="http://www.css-tricks.com" title="css-tricks">css-tricks</a>
        </li>

        <li>
            <a href="http://scotch.io/" title="Scotch">Scotch</a>
        </li>

        <li>
            <a href="http://blog.teamtreehouse.com/" title="Team Treehouse">Team Treehouse</a>
        </li>

        <li>
            <a href="http://csswizardry.com/" title="Team Treehouse">CSS Wizardry</a>
        </li>
        
        <li>
            <a href="http://code.tutsplus.com/" title="Tus Plus">Tuts+</a>
        </li>

        <li>
            <a href="http://www.smashingmagazine.com/" title="Smashing Magazine">Smashing Magazine</a>
        </li>

        <li>
            <a href="http://www.creativebloq.com/net-magazine" title=".NET Magazine">.NET Magazine</a>
        </li>

        <li>
            <a href="https://www.sitepoint.com/versioning" title="Versioning">Versioning</a>
        </li>

    </ul>

</aside>