// SETTINGS - GLOBAL

$settings: (

	type: (
		fontFamily 				: ('Dosis', sans-serif),
		fontSize 				: 100%,
		lineHeight 				: $line-height / $font-size
	),

	headings: (
		fontFamily 				: inherit,
		fontSize 				: inherit,
		fontWeight 				: 300
	),

	breakpoints: (
		10 						: 600px,
		20 						: 1000px
	),

	misc: (
		transitionDuration 		: 250ms,
		borderRadius 			: 6px,
		maxWidth 				: 1200px
	)

);