@if $blockquotes {
	
 /* ==========================================================================
  	 BASE - BLOCKQUOTE
   	========================================================================== */

	blockquote {
        display: block;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin-left: 0;
        quotes: "“" "”" "‘" "’";
            
            p {
                margin: 0;
                padding: .5em 10px;
                
                    &:before, &:after {
                        color: #ccc;
                        font-size: 2em;
                        line-height: .1em;
                        vertical-align: -.4em;
                    }
                    &:before {
                        margin-right: .25em;
                        content: open-quote;
                    }
                    &:after {
                            margin-left: .25em;
                            content: close-quote;
                    }
            }
    }

}  // END IF