@if $o-grids {

/* ==========================================================================
   OBJECTS - GRIDS
   ========================================================================== */

	.o-grid {
		margin-left: -$base-spacing;
		@include cf;
	}

} // END IF - SILENT

@if $o-grids-classes {

	.o-grid__item {
		float: left;
		padding-left: $base-spacing;
	}

	@include widths();

	@each $bp, $query in map-get($settings, breakpoints) {

		@include bp($bp){
	    	@include widths('bp' + $bp + '-');
		}

	}

} // END IF